<div class = "container">

  <div class = "row mt-3 mb-3">
    <div class = "col">
      <h4>いいね一覧</h4>
      <p>画像クリックで詳細へ</p>
    </div>
  </div>


    <div class = "row mt-3 mb-3">

      <% @liked_cars.each do |car| %>

        <div class = "col-md-3">

          <table class = "table table-borderless">
            <thead>
              <tr>
                <th colspan="1"></th>
              </tr>
            </thead>

            <tbody>

              <tr>

                <td><%= link_to (image_tag car.get_car_image(100,100)),car_path(car) %><br>
                <%= car.user.name %><br>
                <%= car.maker.maker_name %><br>
                <%= car.aero_maker.aero_maker_name %><br>
                <%= car.car_model %></td>

              </tr>

             </tbody>
          </table>

        </div>

      <% end %>

    </div>

</div>








<%# @liked_cars.each do |car| %>
  <%#= link_to car.title, car_path(car) %>
<%# end %>