<div class = "container">

  <div class = "row mt-3 mb-3">
    <div class = "col-md-1"></div>
    <div class = "col-md-2"><h5>マイページ</h5></div>
    <div class = "col-md-3"></div>
  </div>


    <div class = "row mt-3 mb-3">
      <div class = "col-md-2">
        <h5 class="font-weight-bold">登録情報</h5>
      </div>
      <div class = "col-md-10">
        <div><%= link_to "編集する",info_edit_path(current_user), class:"btn btn-success btn-sm" %></div>
      </div>
    </div>

    <div class = "row mt-3 mb-3">

      <div class = "col-md-8">

        <table class = "table table-bordered">

          <tr><th class = "table-secondary">ユーザー名</th><td><%= @user.name %></td></tr>

          <tr><th class = "table-secondary">プロフィール画像</th><td><%= image_tag @user.get_profile_image(100,100) %></td></tr>

          <tr><th class = "table-secondary">自己紹介文</th><td><%= @user.introduction %></td></tr>

          <tr><th class = "table-secondary">メールアドレス</th><td><%= @user.email %></td></tr>


        </table>
      </div>

      <div class = "col-md-1"></div>
      <div class = "col-md-1"></div>

    </div>

        <div class = "row mt-3 mb-3">

          <div class = "col-md-2">
            <h5 class="font-weight-bold">いいね一覧</h5>
          </div>
          <div class = "col-md-10">
            <%#= link_to "いいね一覧",deliveries_path,class:"btn btn-primary btn-sm" %>
          </div>

        </div>

        <div class = "row mt-3 mb-3">

          <div class = "col-md-2">
            <h5 class="font-weight-bold">退会</h5>
          </div>
           <div class = col-md-4>
             <%= link_to "退会する",confirm_path(current_user), class:"btn btn-danger btn-sm" %>
           </div>

        </div>

</div>
