<!--<div class = "container mt-3 mb-3">-->

  <!--<div class="row">-->

    <!--<div class="col-md-2">-->

      <div class="card-deck">

        <div class="card border border-0 mt-3 mb-3">

          <div class="card-body">

            <h4 class="card-title">メーカー</h4>

            <p class="card-text"><%= link_to "TOYOTA", cars_path(search: Maker.find(1).maker_name) %></p>
            <p class="card-text"><%= link_to "NISSAN", cars_path(search: Maker.find(2).maker_name) %></p>
            <p class="card-text"><%= link_to "HONDA", cars_path(search: Maker.find(3).maker_name) %></p>
            <p class="card-text"><%= link_to "MAZDA", cars_path(search: Maker.find(4).maker_name) %></p>
            <p class="card-text"><%= link_to "SUBARU", cars_path(search: Maker.find(5).maker_name) %></p>
            <p class="card-text"><%= link_to "MITSUBISHI", cars_path(search: Maker.find(6).maker_name) %></p>
            <p class="card-text"><%= link_to "SUZUKI", cars_path(search: Maker.find(7).maker_name) %></p>
            <p class="card-text"><%= link_to "その他", cars_path(maker_id: 8) %></p>

            <h4 class="card-title">エアロパーツメーカー</h4>

            <p class="card-text"><%= link_to "admiration", cars_path(search: AeroMaker.find(1).aero_maker_name) %></p>
            <p class="card-text"><%= link_to "AIMGAIN", cars_path(search: AeroMaker.find(2).aero_maker_name) %></p>
            <p class="card-text"><%= link_to "AMS", cars_path(search: AeroMaker.find(3).aero_maker_name) %></p>
            <p class="card-text"><%= link_to "ARTISAN SPIRITS", cars_path(search: AeroMaker.find(4).aero_maker_name) %></p>
            <p class="card-text"><%= link_to "TOMS", cars_path(search: AeroMaker.find(5).aero_maker_name) %></p>
            <p class="card-text"><%= link_to "TRD", cars_path(search: AeroMaker.find(6).aero_maker_name) %></p>
            <p class="card-text"><%= link_to "CRAVE", cars_path(search: AeroMaker.find(7).aero_maker_name) %></p>
            <p class="card-text"><%= link_to "その他", cars_path(aero_maker_id: 8) %></p>

          </div>

        </div>


    <!--</div>-->

    <!--<div class="col-md-2">-->

        <div class="card border border-0 mt-3 mb-3">

          <div class="card-body">

            <p class="card-text">ようこそprecious carへ！</p>
            <p class="card-text">このサイトは皆さんの愛車との思い出を投稿し</p>
            <p class="card-text">投稿者同士で交流ができる場所です。</p>
            <p class="card-text">きっかけ、自慢したい所、こだわり、思い出</p>
            <p class="card-text">それ以外のことでも車に関することなら</p>
            <p class="card-text">なんでも投稿してください！</p>


            <br>

          <!--</div>-->

          <!--<div class="card-body">-->

          <h4 class="card-text">タグ検索</h4>

          <br>

            <% counter = 0 %>
            <%= form_tag cars_path, method: :get do %>
              <% Tag.all.each do |tag| %>
                <%= check_box_tag "tag_ids[]", tag.id %>
                <%= tag.tag_name %>&emsp;
                <% counter += 1 %>
                <% if counter % 4 == 0 %>
                <br><br>
                <% end %>
              <% end %>
              <br><br>
              <%= submit_tag "検索" %>
            <% end %>

          </div>

        </div>

    <!--</div>-->

    <!--<div class="col-md-2">-->

        <div class="card border border-0 mt-3 mb-3">

          <div class="card-body">

            <h4 class="card-title">管理者プロフィール</h4>
            <%= image_tag("mycar.jpg.JPG", width: 300, height: 200) %>
            <p class="card-text"></p>
            <p class="card-text">サイトへの訪問ありがとうございます！</p>
            <p class="card-text">このサイトは愛車との思い出をシェアできたら</p>
            <p class="card-text">いいなという想いで作成しました。</p>
            <p class="card-text">まだまだ未成熟な部分が多いですが</p>
            <p class="card-text">たくさんの方に利用いただけると嬉しいです。</p>
            <p class="card-text">写真は2022年の1月に納車したGR86です。</p>
            <p class="card-text">スポーツカーに乗ることは昔からの夢だったので
            <p class="card-text">日々楽しく乗っています。</p>
            <p class="card-text">車高調やエアロもつけたいですがお金足りないですね笑</p>
            <p class="card-text">今のところAIMGAINのエアロつけようかなと思ってます。</p>
            <p class="card-text">利用サイト：Logo made by <a href="https://www.designevo.com/" title="Free Online Logo Maker">DesignEvo free logo creator</a></p>

            <%#= form_tag(cars_path, method: :get) do %>
              <%#= label_tag(:tag_name, "Tag:") %>
              <%#= text_field_tag(:tag_name) %>
              <%#= submit_tag("Search") %>
            <%# end %>

          </div>

        </div>

      </div>

    <!--</div>-->

  <!--</div>-->

<!--</div>-->

            <!--<table class = "table table-bordered">-->
            <!--  <thead>-->
            <!--    <tr>-->
            <!--      <th colspan="1"></th>-->
            <!--      <th>ユーザー名</th>-->
            <!--      <th>メーカー</th>-->
            <!--      <th>エアロメーカー</th>-->
            <!--      <th>車種</th>-->
            <!--    </tr>-->
            <!--  </thead>-->

            <!--  <tbody>-->

            <!--    <%# @cars.each do |car| %>-->

            <!--    <tr>-->

            <!--      <td><%#= image_tag car.user.get_profile_image(100,100) %></td>-->

            <!--      <td><%#= car.user.name %></td>-->

            <!--      <td><%#= car.maker.maker_name %></td>-->

            <!--      <td><%#= car.aero_maker.aero_maker_name %></td>-->

            <!--      <td><%#= car.car_model %></td>-->

            <!--    </tr>-->

            <!--    <%# end %>-->


            <!--  </tbody>-->
            <!--</table>-->
