<div>
  <%= image_tag @car.get_image %>
  <p>投稿ユーザー名：<%= @car.user.name %></p>
  <p>メーカー：<%= @car.maker.maker_name %></p>
  <p>エアロメーカー：<%= @car.aero_maker.aero_maker_name %></p>
  <p>車種：<%= @car.car_model %></p>
  <p>タイトル：<%= @car.title %></p>
  <p>投稿ユーザー画像：<%= image_tag @car.user.get_profile_image(100,100) %></p>
  <p>本文：<%= @car.body %></p>
  <p>投稿日時：<%= @car.created_at.strftime('%Y/%m/%d') %></p>
  <% if @car.user == current_user %>
    <%= link_to "編集", edit_car_path(@car) %>
    <%= link_to "削除", car_path(@car), method: :delete %>
  <% end %>
</div>

<div>
  <p>コメント件数：<%= @car.comments.count %></p>
  <% @car.comments.each do |comment| %>
    <p><%= image_tag comment.user.get_profile_image(100,100) %></p>
    <%= comment.user.name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
  <% end %>
</div>
<div>
  <%= form_with model: [@car, @comment] do |f| %>
    <%= f.text_area :comment_body, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>